{% extends "doc.html" %}


{% load static%}
{% block 'content' %}
             
{% if messages%}                  
{% for message in messages %}
{% if message.tags == 'error'%}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var m="{{message}}";
        console.log(m);
        Swal.fire({
                position: 'center',
                icon: 'error',
                title: m,
                showConfirmButton: false,
                timer: 4000
                })
       </script>
       {%endif%}
{% if message.tags == 'success'%}
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       <script>
           var m="{{message}}";
           console.log(m);
           Swal.fire({
                   position: 'center',
                   icon: 'success',
                   title: m,
                   showConfirmButton: false,
                   timer: 4500
                   })
          </script>
          {%endif%}       
{% endfor %}
{%endif%} 
<div class="row justify-content-center align-items-center">
  <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12"> 
      <div class="row">
        <div class="col-xl-6 col-lg-5 col-md-4 col-sm-12 col-xs-12 ">   
          <div class="card container-fluid mt-5 mb-5">
            <h5 class="px-1 text-uppercase ml-5 mt-3">Doctor - {{request.user}}</h5>
            <ul id="user-list">
              {% for i in pat%}
          <!-- <a href="" -->
                {% if i.patient.user.online%}
                  <li  data-username="{{ i.patient.user}}" style="list-style: none;"> 
                     <a href="{%url 'docter:msgg' i.id %}" style="color: green"  id="{{i.patient.user.username}}_status" class="btn btn-light m-1 open-chat-btn" value="{{i.docter_id}}" >{{i.patient}}</a><br>      
                 </li>
                {%else%}
                 <li  data-username="{{ i.patient.user}}" style="list-style: none;"> 
                  <a href="{%url 'docter:msgg' i.id %}" style="color: rgb(226, 236, 226)"  id="{{i.patient.user.username}}_status" class="btn btn-light m-1 open-chat-btn" value="{{i.docter_id}}" >chat with <span class="text-dark">{{i.patient}}
                   </span></a><br>      
                 </li>
                {%endif%}   
          <!-- <button class="btn btn-primary m-1 open-chat-btn"  >chat with <span class="text-success">{{i.docter}}</span> </button><br> -->
              {% endfor %}
            </ul>
          </div>
        </div>  
        <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12 col-xs-12 ">
            {% block 'subject' %}


            {% endblock %}
     
        </div> 
    </div>
  </div> 
</div>     
{%endblock%}