{% extends "user-admin.html" %}

{% load static%}
{% block 'content' %}
<div class="row">
  <div class="col-lg-12 col-md-8 col-sm-6 col-xs-4"> 
    <div class="d-flext d-flex justify-content-center align-items-center">
      <div class="row m-5 " style="background:transparent; min-width: 1000px; border-radius: 10px;">
        <div class="col-lg-3 col-md-5  col-sm-5 col-xs-4 bg-light">   
            <h5 class="px-1 text-uppercase ml-5 mt-3">{{request.user}}</h5>
            <ul id="user-list">
               {% for i in pat%}
               {% if i.docter.user.online%}
                  <li  data-username="{{ i.docter.user}}" style="list-style: none;">
                      <a href="{%url 'patient:msgg' i.id %}" style="color: green"  id="{{i.docter.user.username}}_status" class="btn btn-light m-1  open-chat-btn" >{{i.docter}}</a><br>      
                  </li>
                {%else%}  
                <li  data-username="{{ i.docter.user}}" style="list-style: none;">
                  <a href="{%url 'patient:msgg' i.id %}" style="color: rgb(232, 241, 232)"  id="{{i.docter.user.username}}_status" class="btn btn-primary m-1  open-chat-btn" >{{i.docter}}</a><br>      
              </li>
               {%endif%}   
          
               {% endfor %}
            </ul>  
            
          
        </div>
      <div class="col-lg-7 col-md-5 col-sm-5 col-xs-4 bg-light">
    
      
           {% block 'subject' %}


           {% endblock %}
     
        </div>
      </div>   
    </div>
  </div>
</div>      
      
{%endblock%}