{% extends "user-admin.html" %}

{% load static%}
{% block 'content' %}
<style>
 
  .lc{
  padding: 0;
  }
  .slid {
    /* position: absolute; */
    cursor: pointer;
    float:right;
    height: 20px;
    width: 20px;
    border-radius: 20px;
   
  }
  
</style> 
      <div class="row  no-gutters m-5 justify-content-center rounded-2  p-0">
        <div class="col-lg-4 col-md-4  col-sm-3 col-xs-2 bg-light  lc" style="height:505px">    
            <h5 class="px-1 text-uppercase ml-5 mt-3">{{request.user}}</h5>
              <ul id="user-list">
                  {% for i in pat%}
                    {% if i.docter.user.online%}
                      <li  data-username="{{ i.docter.user}}" style="list-style: none;">
                        <a href="{%url 'patient:msgg' i.id %}"  id="{{i.docter.user.username}}_status"
                         class="btn btn-light  w-75 m-1  open-chat-btn" >{{i.docter}}
                           <h6 class="d-inline slid float-right bg-success" id="light{{i.docter_id}}"></h6>     
                        </a>
                      </li>
                    {%else%}  
                      <li  data-username="{{ i.docter.user}}" style="list-style: none;">
                          <a href="{%url 'patient:msgg' i.id %}" id="{{i.docter.user.username}}_status" 
                          class="btn btn-light  w-75 m-1  open-chat-btn" >{{i.docter}}
                          <h6 class="d-inline slid float-right bg-danger"></h6>     
                        </a>      
                     </li>
                    {%endif%}   
          
                  {% endfor %}
            </ul>  
        </div>
        <div class="col-lg-8 col-md-8 col-sm-5 col-xs-4 lc" >      
           {% block 'subject' %}


           {% endblock %}
        </div>
      </div>   

      
{%endblock%}